.bar-height{ height: 3px;}
body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.bg-cozy{background-color:#f0348c!important;}
/* .text-cozy{background-color:#f0348c!important;} */
