
.avatar-size {width: 150px; height: 150px;}

/* @media (min-width: 576px) {
    #teachers img {width: 47% !important;} 
} 

@media (min-width: 1024px) 
{#teachers img {width: 23% !important;}
.image-container {flex-direction: row !important; }

} */